{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohammed Saddam | Portfolio</title>

    {% load static %}

<link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
</head>
<body>

    <nav>
        <h2>Mohammed Saddam</h2>
        
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>
        <section id="contact">
        <h2>Contact</h2>

    <p>Email: saddam24tech@gmail.com</p>

    <p>
        GitHub:
        <a href="https://github.com/saddam2404/">GitHub</a>
    </p>

    <p>
        LinkedIn:
        <a href="https://www.linkedin.com/in/mohammed-saddam-39220531b/">LinkedIn</a>
    </p>
</section>
    </nav>

    <section class="hero">
        <h1>AI & Data Science Engineer</h1>

        <p>
            Passionate about AI, Automation, Data Engineering,
            RAG Systems, LLM Applications, and Python Development.
        </p>
    </section>

    <section id="about">
        <h2>About Me</h2>

        <p>
            AI & Data Science graduate with experience building
            RAG chatbots, n8n automation workflows, OCR pipelines,
            PostgreSQL integrations, AI-powered applications,
            and document processing systems.
        </p>
    </section>

    <section id="skills">
        <h2>Skills</h2>

        <ul class="skills-list">
            <li>Python</li>
            <li>Django</li>
            <li>FastAPI</li>
            <li>PostgreSQL</li>
            <li>n8n</li>
            <li>OpenAI APIs</li>
            <li>RAG</li>
            <li>Qdrant</li>
            <li>Git</li>
            <li>Docker</li>
        </ul>
    </section>

    <section id="projects">
        <h2>Projects</h2>

        {% if projects %}

            {% for project in projects %}
                <div class="project-card">

                    <h3>{{ project.title }}</h3>

                    <p>{{ project.description }}</p>

                    <p>
                        <strong>Tech Stack:</strong>
                        {{ project.tech_stack }}
                    </p>

                    {% if project.github_url %}
                        <a href="{{ project.github_url }}" target="_blank">
                            View on GitHub
                        </a>
                    {% endif %}
                    {% if project.image %}
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    {% endif %}

                </div>
            {% endfor %}

        {% else %}

            <p>No projects added yet.</p>

        {% endif %}
    </section>
    <a href="{% static 'portfolio/Saddam_CV.pdf' %}" download>
    Download Resume
</a>

    <footer>
        <p>© 2026 Mohammed Saddam</p>
    </footer>

</body>
</html>